:host {
    --my-theme-primary: yellow;
    --my-theme-secondary: blue;
    display: block;
    height: 100px;
    background: var(--my-theme-primaryy, yellow);
}

:host([hidden]) {
    display: none;
}

:host:not(:defined) {
    background: red;
}

:host([disabled]) {
    opacity: 0.5;
    pointer-events: none;
}

::slotted(input[type=checkbox]) {
    display: block;
}

::slotted(input[type=date]) {
    background: var(--my-theme-secondary);
}