:host {
    display: block;
    height: 100px;
    background: yellow;
}

:host([hidden]) {
    display: none;
}

:host:not(:defined) {
    background: red;
}

:host[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

::slotted(input[type=checkbox]) {
    display: block;
}