:root {
    --my-theme-primary: green;
    --my-theme-secondary: red;
}

body {
    background: var(--my-theme-primary);
}

.hello {
    background: var(--my-theme-secondary);
}

input[type=checkbox] {
    display: inline;
}

input[type=date] {
    background: var(--my-theme-secondary);
}