@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Black.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./melon_logo.png');
    font-family: 'Roboto';
}
